node_modules/
**/node_modules
**/**/node_modules
**/**/**/node_modules
dist/
*.zip
*.tgz
*.7z
/07TgWebServer
**/.git
/15vue-springbootDemo/upload
/mall
/学习总结/密码
*.rar
/zhcc/
/19**
/仿mac系统界面/
/vue-login-manage-system-master/
/20*/
*.txt
*.xlsx
*.sql
**/**/**/**/**/**/db.js
**/**/**/**/**/db.js
**/**/**/db.js
**/db.js
