<!DOCTYPE html>
<html>
  <head>
    <title>注册</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>请注册</h1>
    <div>
      <form action="/regist" method="POST">
        userName: <input type="text" name="username" /> <br />
        password: <input type="password" name="password" /> <br />
        <input type="submit" value="注册" >
    </form>
    </div>
  </body>
</html>
