{
    "presets": [
      ["env", {
        "targets": {
          "node": "6.3"
        }
      }]
    ],
    "ignore": [
      "src/rpc/TgUser.js",
      "src/rpc/*Jce.js",
      "src/proxy/**/*Jce.js",
      "src/proxy/**/*Proxy.js",
      "src/proxy/*Jce.js",
      "src/proxy/*Proxy.js",
      "src/config/config.json"
    ]
  }