<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%= message %> 
    <%= time %>
    <form action="/hello" method="GET">
        data: <input type="text" name="data" /> <br />
        <input type="submit" value="发送">
    </form>
</body>
</html>